name: CI + GitOps Deploy

on:
  workflow_dispatch: 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout App Repo
      uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: maven

    - name: Build JAR
      run: mvn clean package -DskipTests

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker Image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
        docker build -t ${{ secrets.DOCKER_USERNAME }}/reviewapp:$IMAGE_TAG .

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/reviewapp:${{ env.IMAGE_TAG }}

    - name: Checkout GitOps Repo
      uses: actions/checkout@v4
      with:
        repository: YagneshTrainer/reviewapp-gitops
        token: ${{ secrets.GITOPS_REPO_TOKEN }}
        path: gitops-repo

    - name: Update Deployment Image in GitOps Repo
      run: |
        cd gitops-repo
        sed -i "s|image: .*reviewapp:.*|image: ${{ secrets.DOCKER_USERNAME }}/reviewapp:${{ env.IMAGE_TAG }}|" manifests/deployment.yaml

        git config user.name "github-actions"
        git config user.email "github-actions@github.com"

        git add manifests/deployment.yaml
        git commit -m "Update reviewapp image to ${{ env.IMAGE_TAG }}" || echo "No changes to commit"
        git push origin main
